*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main{
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh
}

.p{
    background-color: black;
    height: 100vh;
    color: antiquewhite;
}