*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
        background-image: url("./image/header-1.png");
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center ; 
        height: 1100px;
        margin: 0px;
        background-color: aqua;
        color: white;
        margin-top: -30px;
    } 


.body {
    background-color: rgb(0, 0, 0);
}

.back{
    height: 100px;
    margin-top: -100px;
    background:linear-gradient(
        to bottom,rgb(255,255,255,0) 0%,#0b1d26 100%
    ) ;
    position: relative;
    z-index: 10;
}


.nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
    padding-top:20px ;

}

.ol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.icon-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon-2{
    width: 18px;
}

.scroll-down{
    /* height: 10px; */
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.tow-pic{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 100px 10px;
   /* padding-top: 100px; */
}

.span{
    display: flex;
    align-items: center;
    gap: 15px;
    
    
}
.social{
   margin-top: -310px;
   margin-left: 20px;
}

.slider{
   margin-top: -310px;
   margin-right: -10px;
   width: 200px;

}

.line-img{
    padding-top: 150px;
    padding-left: 400px;
}


.text{
    font-size: x-large;
    padding-top: 20px;
}

.hdhs{
    width: 300px;
    color: white;

}

.second{
    background-color: #0b1d26;
    height: 100vh;   
    position: relative;
    color: #ffffff; 
}

.div-01{
        padding-top: 200px;
        padding-left: 260px;
        position : absolute;

}

.side-01{
    display: flex;
    justify-content: space-between;
    padding: 10PX 200PX;
    gap: 70px;

}

.left{
   margin-top: 120px;
   
}

.left-2{
    margin-top: 120px;
    padding: 0px 60px;
}

.img-01{
    height: 450px;
}

.text-01{
    width: 500px;
}

.before-01::before{
    content: "01";
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    opacity: 0.5; 
    margin-top: 80px;
    margin-left: 143px;
}

.before-02::before{
    content: "02";
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    opacity: 0.5; 
    margin-top: 65px;
    margin-right: -200px;
}
.before-03::before{
    content: "03";
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    opacity: 0.5; 
    margin-top: 80px;
    margin-left: 143px;
}
.heading-01{
     margin: 15px 2px;
     width: 300px; 
}

.btn-01{
    margin: 10px 0px;
}

.arrow-01{
    margin-top: 10px;
    height: 20px;
}

.div-btn-01{
    display: flex;
    gap: 15px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
    background-color: #0b1d26;
    color: #ffff;
    height: 280px; 

}

.footer-p{
    width: 250px;
    padding-bottom: 70px;
    line-height: 25px;
    font-weight: bold;
}
.footer-p2{
    padding-top: 10px ;
    color: #727c81

}

.meun{
    display: flex;
    gap: 25px;
    list-style: none;
}

.ul{
    list-style: none;

}

.item-1{
    color: #fbd784;
}

.item-2{
    color: #fbd784;
    
}

.item{
        padding-top: 15px;
}